* {
  box-sizing: border-box;
}
form {
  border: 4px solid black;
  background-color: lightgray;
  margin: 15px 480px;
  text-align: center;
  padding: 35px 30px;
}
div {
  padding: 10px;
}
label {
  font-size: 20px;
}
input[type="text"],
input[type="number"],
select[type="text"] {
  width: 100%;
  height: 45px;
  font-size: 17px;
}
button[type="submit"] {
  background-color: blue;
  color: white;
  padding: 12px;
  border: none;
  font-size: 17px;
}
button[type="reset"] {
  background-color: red;
  color: white;
  padding: 12px;
  border: none;
  font-size: 17px;
}
